<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI_Tier.Properties.Settings.dataConnectionString"
            connectionString="Data Source=.;Initial Catalog=data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>